html, body {
    height: 100%;
    margin: 0;
}


body {
    background-color: black;
    background-image: url("img/pp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header, section {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 30px;
    margin: 50px auto;
    width: 85%;
    max-width: 900px;
    border-radius: 20px;
}

.btn-centro {
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    background: #1db954;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-centro:hover {
    background: #17a34a;
}


header {
    padding: 40px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    background: #000;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: white;
    color: black;
}

.foto-cuadrada {
    object-fit: cover;
    margin-top: 20px;
    border-radius: 12px;
    border: 2px solid white;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

.galeria img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.contenido {
    background: rgba(0,0,0,0.4);
    margin: 30px;
    padding: 25px;
    border-radius: 20px;
}

footer {
    padding: 20px;
}
